@using Page2Feed.Core.Services
@using Page2Feed.Web.Program
@model AdminIndexViewModel

@{
    ViewData["Title"] = "Admin";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
<div class="text-center">
    <h2 class="display-4" notification>@TempData["Message"]</h2>
</div>
<section name="Feeds">
    <h3>Feeds</h3>
    <ul>
        @foreach (var feed in Model.Feeds)
        {
            <li>
                @{
                    var ago = (DateTimeOffset.Now - feed.LastUpdated).TimeDelta(true);
                }
                <a href="@feed.Link">@feed.Group: @feed.Name (@feed.Entries entries; last entry @ago ago)</a>
                @using (Html.BeginForm("DeleteFeed", "Feed", null, FormMethod.Post, false, null))
                {
                    <input type="hidden" name="feedGroupName" value="@feed.Group" />
                    <input type="hidden" name="feedName" value="@feed.Name" />
                    <button value="DELETE">Delete feed</button>
                }
            </li>
        }
        <li>
            @{
                var next = (FeedBackgroundService.NextFeedCheck - DateTimeOffset.Now).TimeDelta(true);
            }
            Next feed check in @next
        </li>
    </ul>
</section>
<section name="create">
    <h3>Create feed</h3>
    @using (Html.BeginForm("CreateFeed", "Feed", null, FormMethod.Post, false, null))
    {
        <label for="feedGroupName">Feed group</label>
        <input type="text" required="required" id="feedGroupName" name="feedGroupName" placeholder="Group" />
        <br />
        <label for="feedName">Feed name</label>
        <input type="text" required="required" id="feedName" name="feedName" placeholder="Name" />
        <br />
        <label for="feedUri">Feed URI</label>
        <input type="url" required="required" id="feedUri" name="feedUri" placeholder="https://feed" />
        <br />
        <button value="CREATE">Create feed</button>
    }
</section>